<nav class="navbar navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">
            Student Predictor
        </a>

        <div>
            <a href="{% url 'students' %}"
               class="btn btn-outline-light me-2">
                Students
            </a>

            <a href="{% url 'dashboard' %}"
               class="btn btn-outline-light">
                Dashboard
            </a>
        </div>

    </div>
</nav>
<div class="container mt-5">

<h2>{{ student.name }}</h2>

<p>Attendance: {{ student.attendance }}</p>

<p>Internal Marks: {{ student.internal_marks }}</p>

<p>Assignment Score: {{ student.assignment_score }}</p>

<p>Study Hours: {{ student.study_hours }}</p>

<p>GPA: {{ student.gpa }}</p>

</div>